SECRET_KEY="django-insecure-sy)hjil()^5whwu=rk%rj@$7dtxii64j51p1tcq5wb%1+iik5k"
DEBUG=True
RABBITMQ_URL=amqps://ptdsxjvm:fWjSQvQeE2toe9QSCxQiw_WXkf-7sx47@chameleon.lmq.cloudamqp.com/ptdsxjvm
RABBITMQ_QUEUE=first_queue
